a:link, a:visited { /* Set style for unvisited link and a link the user has visited */
    cursor: crosshair; /* Allows control over cursor appearance in an element */
    color: #9c7f7f;
    font-family: RobotoThin, sans-serif;
    text-decoration: none; /* This Property is used to set or remove decorations from text */
    text-align: center; /* Describes how inline contents of a block are horizontally aligned if the contents do not completely fill the line box. */
    font-size: 1em; /* Set the size of the font */
    transition-delay: 0ms; /* Defines when the transition will start. */
    transition-duration: 97ms; /* Defines when the transition will start. */
    transition-property: all; /* Specifies the name of the CSS property to which the transition is applied. */
    transition-timing-function: ease; /* Describes how the intermediate values used during a transition will be calculated. */
}
a:hover { /* Set style for a link when the user mouses over it */
    text-shadow: 0px 1px 5px #ff0000; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
}
a:active { /* Set style for a link the moment it is clicked */
    text-shadow: 0px 1px 5px #ff0000; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
}
