/* 
 * vim:sts=2 ts=2 sw=2
 */
/* ╭──────────────────────────────────────────────────────────────────────────────╮
   │                                     FONT                                     │
   ╰──────────────────────────────────────────────────────────────────────────────╯ */
@font-face {
  font-family: "Cozette"; /* Define the name of the font */
  src: url("../source/font/CozetteVector.ttf"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "RealityHyper"; /* Define the name of the font */
  src: url("../source/font/Reality_Hyper_Regular.ttf"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "BebasNeue"; /* Define the name of the font */
  src: url("../source/font/BebasNeue-Regular.woff2"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "SpacePort"; /* Define the name of the font */
  src: url("../source/font/Spaceport_2006.otf"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "Azonix"; /* Define the name of the font */
  src: url("../source/font/Azonix.otf"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "RobotoRegular"; /* Define the name of the font */
  src: url("../source/font/Roboto-Regular.ttf"); /* Defines the URL(s) where the font should be downloaded from */
}
@font-face {
  font-family: "AllerRegular"; /* Define the name of the font */
  src: url("../source/font/Aller_Rg.ttf"); /* Defines the URL(s) where the font should be downloaded from */
}

:root {
  /* Represent an element that is the root of document */
  --text-color: #dadada;
  --link-color: #eaeaea;
  --link-color--hover: #d70000;
  --background-color: #000000;
}

html {
  font-size: 1.1rem; /* Set the size of the font */
  font-family: "AllerRegular"; /* Set font are used for text */
  background-color: var(--background-color); /* Set the background-color */
}

hr {
  height: 0.1em; /* Set height of element */
  border-width: 0px; /* Set to no border */
  background: linear-gradient(140deg, #d70000 0%, #ff0800 100%);
}

body {
  color: var(--text-color); /* Set the foreground-color */
  margin: 0; /* Define space/blank around elements, outside of any border */
  padding: 0; /* Create space/blank around elements, inside of any defined borders */
}

header {
  display: flex;
  justify-content: space-around;
}

header h1 {
  top: 0;
  left: 0;
  margin: 0;
  text-align: start;
  font-size: 2.2em; /* Set the size of the font */
  font-family: "BebasNeue"; /* Set font are used for text */
  background: linear-gradient(140deg, #aa0000 0%, #d70000 100%);
  position: relative;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

header .list {
  display: flex;
  align-items: center;
  list-style: none;
}

header .list li a {
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s ease;
}

header .list li a:hover {
  color: var(--link-color--hover);
}

.Preview h2 {
  text-align: center;
  margin-bottom: 0px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

footer a {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none; /* This Property is used to set or remove decorations from text */
  color: var(--link-color); /* Set foreground color */
  font-size: 1.5em; /* Set the size of the font */
  cursor: pointer;
  transition: all 0.2s ease;
}

footer a:hover {
  color: var(--link-color--hover); /* Set foreground color */
}

footer a:active {
  opacity: 0.5; /* Set transparency */
}
