.menu {
  z-index: 20;
  width: 100%;
  height: 7vh;
  position: fixed; /* item will follow direction */
  bottom: 0px;
  left: 0;
  display: flex; /* set item to side */
  justify-content: space-between; /* make items space in horizontal */
  align-items: center; /* make items space in vertical */
  background-color: #111; /* Set the background-color */
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.1);
  display: none; /* for hide items */
  overflow: hidden; /* Hides the overflowing content, both scroll bars disappear and the page becomes fixed */
  /* border-radius: 20px 20px 0px 0px; */ /* Set corner radius, it will make navbar rounded */
  z-index: 777; /* Stack up element, so it will be absolute to the top */
}

@media (max-width: 658px) {
  .menu {
    display: flex;
  }
  nav .list {
    display: none;
  }
  footer {
    margin-bottom: 80px;
  }
  .Preview .container {
    height: 50vh;
  }
  .jumbotron {
    margin: 40px 0;
    display: grid;
    place-content: center;
  }
  .jumbotron #banner-logo {
    margin-left: 15%;
    /* background-color: red; */
    width: 70%;
  }
  .sub-text {
    text-align: center;
    /* background-color: red; */
    width: 100%;
    margin-left: 0;
  }
  .sub-text h2 {
    font-size: 1.4em;
  }
  .sub-text h3 {
    font-weight: 400;
    font-size: 0.8em;
  }
}

.menu .icons {
  padding: 19px 40px;
  font-size: 29px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-out;
}

.menu .icons span {
  position: absolute;
  color: #d70000;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #ff5361;
}

.menu .icons-up {
  transform: translateY(-100%);
}
